imagePrefix: acme.jfrog.io
imageName: dora-metrics
appVersion: latest # PLACEHOLDER VALUE; RESET AT DEPLOY TIME

replicaCount: 1

image:
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 2112

ingress:
  enabled: false

resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 50m
    memory: 32Mi

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}
